doctype html
html(lang='en')
  head
    title Document
  body
    div
      h1 Hi #{user.userName}
      h2 Email is #{user.email}
      h3 Address is #{user.Address}
      a(href='http://localhost:3000/users/login/show') Login
