doctype html
html(lang='en')
  head
    title Home
  body
    div
      form(method='post',action='http://localhost:3000/users/forgotpassword')
        div
         p
          label
            b Email &nbsp;
          input(type='text', placeholder='Enter Email', name='email', required='')

         p
          label
            b Password &nbsp;
          input(type='password', placeholder='Enter New Password', name='password', required='')

         p
          label
            b Retype password &nbsp;
          input(type='password', placeholder='Retype Password', name='repassword', required='')
          br
          &nbsp;
          button(type='submit') Change
