doctype html
html(lang='en')
  head
    title Home
  body
    div
      form(method='post',action='http://localhost:3000/users/forgotpassword')
        div
          label
            b Username
          input(type='text', placeholder='Enter Email', name='email', required='')
          br
          button(type='submit') sendMail
