doctype html
html(lang='en')
  head
    title Home
  body
    div(style='text-align : center;')
      h1  Welcom to GMKart
      &nbsp;
      a(href='http://localhost:3000/users/login/show') Go To Login
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href='http://localhost:3000/users/signup/show') SignUp
